{
  "extends": [
    "standard"
  ],
  "plugins": [
    "mocha",
    "should-promised"
  ],
  "rules": {
    "indent": 0,
    "func-names": 0,
    "no-var": 1,
    "no-multi-spaces": 0,
    "camelcase": 0,
    "brace-style": 0,
    "handle-callback-err": 1,
    "quotes": [0, "double"],
    "semi": ["error", "never"],
    "mocha/no-exclusive-tests": "error",
    "mocha/handle-done-callback": "error",
    "mocha/no-return-and-callback": "error",
    "standard/no-callback-literal": 1,
    "should-promised/return-promise": "error"
  },
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
